:root {
  --scheme-color: #2b67b5;
  --header-color: var(--scheme-color);
  --active-color: var(--scheme-color);
  --static-color: #3e4349;
  --text-color: #555;
  --bg-color: #f4f7f8;
  --logo-color: rgb(255 255 255 / 88%);
  --alt-text-color: white;
  --code-bg-color: #eee;
  --pre-bg-color: #f5f5f5;
  --pre-border-color: color-mix(in srgb, var(--pre-bg-color), black 15%);
  --quote-bg-color: #eee;
  --quote-border-color: color-mix(in srgb, var(--quote-bg-color), black 10%);
  --table-header-color: #e6f1ff;
  --hr-color: rgba(0,0,0,.1);
  --del-color: #ffe5df;
  --ins-color: #d2ffe0;
  --result-title-color: #607d8b;
  --sidebar-color: #f1f5f6;
  --input-bg-color: white;
  --input-border-color: color-mix(in srgb, var(--input-bg-color), black 10%);
  --code-font-family: SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html, body, main, section, header, footer, aside, div, nav {
  display: block;
}

.text-center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: var(--text-color, #555);
  line-height: 1.5;
  background: var(--bg-color, #f4f7f8);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:  var(--static-color, #3e4349);
  display: contents;
}

a:hover {
  text-decoration: underline;
  color: var(--active-color, #ff6347);
}

img {
  max-width: 100%;
}

main {
  margin: 10px auto 0 auto;
  max-width: 940px;
  display: grid;
}

header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: .5rem 0;
  background: var(--header-color, #2b67b5);
  color: var(--alt-text-color, white);
}

.header, .footer {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.header .logo {
  font-size: 1.25rem;
}

.header .logo a, .header .logo a:hover, .header .logo a:active {
  color: var(--logo-color);
  text-decoration: none;
}

.header .links {
  flex: 1;
  padding-left: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
}

.header .links a, .header .links span {
  padding: 0 0.5rem;
  display: block;
  color: var(--alt-text-color, white);
}

.document {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 0.5em;
}

.content {
  flex: 1;
  /* background-color: #ffffff; */
  color: var(--static-color, #3e4349);
  padding: 30px;
  font-size: 16px;
  line-height: 1.65;
  /* box-shadow: 0 1px 3px rgba(0,0,0,.15); */
  border-radius: 0.15em;
}

.sidebar {
  width: 250px;
  padding: 10px 0 10px 10px;
  line-height: 1.65;
}

.sidebar h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--active-color, #2b67b5);
  margin-top: 0.45em;
}

.sidebar form {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

.sidebar form input {
  flex: 1;
  border: 1px solid var(--input-border-color);
  padding: 0.25em 0.5em;
  outline: none;
  border-radius: 0.2em;
  background-color: var(--input-bg-color, white);
  color: var(--static-color);
}

.sidebar form input:focus {
  outline: none;
  outline-color: transparent;
  border-color: var(--scheme-color, #2b67b5);
}

.sidebar form button {
  border: 1px solid var(--hr-color);
  background: var(--active-color, #2b67b5);
  color: var(--alt-text-color);
  padding: 0.25em 0.75em;
  margin-left: 0.25rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.menu-list {
  list-style: revert;
  padding: 0;
  margin: 0;
  margin-left: 13px;
}

.menu-list li.is-active, .menu-list li.is-active a {
  color: var(--active-color);
  font-weight: bold;
}

.content h1, .content h2, .content h3 {
  border-bottom: 1px solid var(--hr-color, #ddd);
  font-weight: 400;
  line-height: 1.1;
}

.content h2, .content h3 {
  padding: 10px 0 10px 0;
  margin: 30px 0px 10px 0px;
}

.content h1 {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  font-size: 2.5rem;
}

.content h1:focus-visible, .content h2:focus-visible, .content h3:focus-visible {
  outline: 0;
}

.content h2 {
  font-size: 1.8rem;
}

.content h3 {
  font-size: 1.5rem;
}

.content code {
  background: var(--code-bg-color, #eee);
  padding: 0 0.25em;
  font-size: .8rem;
}

.content pre {
  background: var(--pre-bg-color, #f5f5f5);
  padding: 0.75rem;
  border: 1px solid var(--pre-border-color, #c6c9cb);
  border-radius: 0.15rem;
  display: grid;
  font-size: 0.8em;
}

.content pre code {
  background: none;
  padding: 0;
  overflow: auto;
  display: block;
}

.content pre, .content tt, .content code {
  font-family: var(--code-font-family, SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace);
}

.content blockquote {
  margin: 0;
  padding: 0.01rem 1rem;
  background: var(--quote-bg-color, #eee);
  border: 1px solid var(--quote-border-color, #ccc);
  font-size: .85rem;
}

.content ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

.content ul {
  margin-left: 0;
  padding-left: 0;
}

.content ol > li, .content ul > li {
  margin: 0 0 0 1em;
  padding: 2px 1px;
  position: relative;
}

.table-of-contents ul {
  list-style: disc;
}

.content a, .content a:hover {
  color: var(--active-color, #ff6347);
}

.content p {
  overflow-wrap: anywhere;
  width: 100%;
  display: inline-block;
}

.content p img {
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content .toc-header {
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 1rem 0 0.5rem 0;
  color: var(--scheme-color, #2b67b5);
  font-weight: 600;
}

.content .toc-header + .menu-list {
  padding-left: 1rem;
}

.content table {
  display: table;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.content table thead {
  background: var(--table-header-color, #e6f1ff);
}

.content thead tr th {
  font-weight: normal;
  padding: 7px 5px;
  vertical-align: middle;
}

.content table tbody tr th, .content table tbody tr td {
  border-bottom: 0;
  border-top: solid 1px var(--hr-color, #ddd);
  padding: 7px 5px;
  vertical-align: top;
  overflow-wrap: anywhere;
}

.content del,
.content ins {
    text-decoration: none;
    position: relative;
    padding-left: 1.5em;
}

.content del {
    background-color: var(--del-color, #ffe5df);
}

.content ins {
    background-color: var(--ins-color, #d2ffe0);
}

.content del::before,
.content ins::before {
    position: absolute;
    left: 0.5rem;
    font-family: monospace;
}

.content del::before {
    content: '−';
    color: #f44336;
}

.content ins::before {
    content: '+';
    color: #607d8b;
}

.content dl {
  padding-left: 0.85rem;
  margin: 0;
}

.content dt {
  font-weight: bold;
}

.content dd {
  margin-left: 1.5rem;
}

.content dd + dt {
  padding-top: 0.5rem;
}

.content dl dd:last-child {
  padding-bottom: .75rem;
}

footer {
  padding: 1rem 0;
  border-top: 1px solid var(--hr-color);
  margin-top: 2.45rem;
}

.footer {
  text-align: center;
  flex-direction: column;
}

.error-page {
  flex: 1;
  padding: 2em 0;
}

.error-page h1, .error-page h3 {
  font-weight: 400;
}

.error-page h1 {
  font-size: 400%;
  margin-bottom: 0;
}

.search-result li a {
  font-weight: bold;
}

.search-result li p {
  margin-top: 0;
  margin-bottom: 0;
  padding: .25rem .25rem .25rem 1rem;
  color: var(--result-title-color, #607D8B);
}

@media screen and (max-width: 870px) {
  main {
    width: auto;
    margin-top: 0;
  }

  .document {
    flex-direction: column;
    padding: 0;
  }

  .content {
    margin: 0;
    width: 100%;
    padding: 30px 20px 20px 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
    padding-bottom: 4em;
    background: var(--sidebar-color, #f1f5f6);
    border-top: 1px solid var(--hr-color);
  }

  footer {
    margin-top: 0;
    background: var(--sidebar-color, #f1f5f6);
  }

  .header .logo {
    font-size: 1.5rem;
  }

  .sidebar form {
    padding-right: 0;
  }
}

/**
 * highlight package.
 *
 * Default recommended styles. 
 * 
 * Copy this stylesheet into your project to use te default style. 
 */
 [class^=language-] {
  position: relative;
 }

 [class^=language-] .s {
  color: #007936;
}

[class^=language-] .i {
  color: #690;
}

[class^=language-] .x {
  color: #872bff;
}

[class^=language-] .m {
  color: #d30038;
  font-style: italic;
}

[class^=language-] .f {
  color: #d30038;
}

[class^=language-] .k {
  color: #0069c2;
}

[class^=language-] .c {
  color: #858585;
}

[class^=language-] .o {
  color: #858585;
}

[class^=language-] .n {
  color: #007936;
}

[class^=language-] .p {
  color: #c4c4c4;
}

[class^=language-] .e {
  color: #ff7989;
}

pre:has(> [class*=-repl]) {
  position: relative;
}

pre:has(> [class*=-repl])::after {
  content: "Repl";
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 78%;
  padding: 0 0.75em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  color: var(--active-color, #2b67b5);
  cursor: pointer;
  border: 1px solid var(--active-color, #2b67b5);
}

pre.off:has(> [class*=-repl])::after {
  text-decoration: line-through;
}

pre.off [class*=-repl] {
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

pre.off [class*=-repl] .e, pre.off [class*=-repl] .r, pre.off [class*=-repl] .p {
  display: none;
}

.content blockquote code {
  background: var(--pre-border-color, #eee);
}


@media (prefers-color-scheme: dark) {
  :root {
    --active-color: color-mix(in srgb, var(--scheme-color), #fff 20%);
    --header-color: #202124;
    --static-color: #f6f6f6;
    --text-color: #f6f6f6;
    --bg-color: #202124;
    --logo-color: rgb(255 255 255 / 88%);
    --alt-text-color: white;
    --code-bg-color: #0f0f0f98;
    --quote-bg-color: #0f0f0f69;
    --pre-bg-color: #2f2f2f;
    --pre-border-color: #404040;
    --quote-border-color: #404040;
    --table-header-color: #1a1b1d;
    --hr-color: #404040;
    --del-color: #ffe5dfc9;
    --ins-color: #d2ffe0c9;
    --result-title-color: #607d8b;
    --sidebar-color: #1b1c1e;
    --input-bg-color: #303134;
    --input-border-color: #303134;
  }

  [class^=language-] .s {
    color: #2dcb74;
  }
}